<html >
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="icon" type="image/png" href="images/favicon.ico">
    </head>
    
    <body>
        
    <div class="ui inverted teal menu">
      <div class="header item">B2Better</div>
      <a class="item">About Us</a>
      
      <div class="right menu">
        <a class="ui item">Sign In</a>
        <a class="ui item">Login</a>
        <a class="ui item">Logout</a>
      </div>
    
    </div>
     
    
    
    <div class='ui grid'>
        <div class='row'>
            <div class='four wide column'>
                <div class="ui inverted large teal vertical menu">
                    <div class="item">
                        <div class="header">Categories</div>
                        <div class="menu">
                          <a class="item" href="/men's">Men</a>
                          <a class="item" href="/women's">Women</a>
                          <a class="item" href="/children's">Children</a>
                          <a class="item" href="/baby's">Baby</a>
                        </div>
                    </div>
                </div>            
            </div>  <!--four wide column-->
          <div class='twelve wide column'>
            
            
          
    
        
        
        
