<% include ./partials/header.ejs %>


<h1 class='title-format'>Welcome to B2Better!!!</h1>
<hr>

<p class='home-text'>Here you can make your own E-commerce site, just go to admin and add/remove/update the categories, sub-categories and products as you wish!</p>

<% include ./partials/footer.ejs %>