<% include ./partials/header %>

<h1 class='title-format'>Please Login</h1>


<div class='login-form-container'>
    
    <form class='ui form' action='login' method='POST'>
        
        <div class ='field required'>
            <label>Username</label>
            <input type='text' name='username'>
        </div>
        
        <div class ='field required'>
            <label>Password</label>
            <input type='password' name='password'>
        </div>
        
        <button class='ui button' type='submit'>Submit</button>
    </form>
</div>

<% include ./partials/footer %>