<% include ./partials/header.ejs %>

<h1 class='title-format'><%= sub_category %></h1>

<% products.forEach(function(product){ %>
        <h5 class='title-format'><%= product.name %></h5>
<% }) %>

<% include ./partials/footer.ejs %>