.title-format {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 25px auto;
    color: #424242;

}

.home-text {
    font-size: 1.5rem;
    max-width: 75%;
    margin: 0 auto;
    padding: 3em 5em;
}

hr { 
    background: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/390e4bb2-af13-4aaf-a2d9-660e2358177b/hr-manasa-malipeddi-04.jpg') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 75px;
    
}
.hr2 {
   /*background: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/864ee4b5-4ad2-4ea2-88af-4796493dc806/hr-wojciech-slowacki-01.jpg') no-repeat top center;*/
   background: none;
   /*background-size: 280px 40px;*/
}


.show {
    margin: auto;
    width: 50%;
    float: none;
}
.table-container {
    max-width: 80%;
    margin: 40px auto;
}

.show-image {
    max-width: 600px;
    padding: 0!important;
}

.product-grid {
    /* background-color: rgb(240, 240, 240); */
    border-radius: 10px;
    border: 1.35px solid lightgray;
}
.show-row {
    margin-top: 10px;
    max-width: 600px;
    font-size: 1.5em;
    text-align: center;
}

.show img{
    
    height: 480px;
    width:  480px;
}


.center-text {
    text-align: center;
}

.ui.vertical.menu {
    max-width: 20%;
    min-width: 150px;
}

.form-container {
    max-width: 450px;
    margin: 40px auto;
}

.d-item {
    color: teal;
}

#sidenav {
    min-width: 200px;
}

#mainViewArea {
    margin-left: 200px;
    padding: 20px;
}

.subCat-header {
    /*color: #616161;*/
    color: #424242;
    text-align: center;
    margin-bottom: 0px;
}

.product-header {
    color: #009688;
}

.tag-inside {
    position: relative;
}
.position-tag {
    right: -30px;
    top: 180px;
    transform: rotate(25deg);
}
.product-tag {
    right: -30px;
    top: 300px;
    transform: rotate(25deg);
}
.ui.tag.label {
    position: absolute;
    z-index: 1;
}

.product-text {
    width: 100%;
}
.product-text p {
    text-align: center;
}
.ui.grid>.row>[class*="thirteen wide"].column {
    width: 100%!important;
}



/************FONTS***************
font-family: 'Work Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
**********************************/