.title-format {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 25px auto;
    color: #424242;
}
hr { 
    background: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/390e4bb2-af13-4aaf-a2d9-660e2358177b/hr-manasa-malipeddi-04.jpg') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
    
}
.hr2 {
   /*background: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/864ee4b5-4ad2-4ea2-88af-4796493dc806/hr-wojciech-slowacki-01.jpg') no-repeat top center;*/
   background-repeat: repeat-x;
   /*background-size: 280px 40px;*/
}

/*.hr3 {*/
/*    height: 25px;*/
/*    width:  600px;*/
/*}*/

.show {
    margin: auto;
    width: 50%;
    float: none;
}


.show-row {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

.show img{
    
    height: 480px;
    width:  480px;
}



.center-text {
    text-align: center;
}

.ui.vertical.menu {
    max-width: 20%;
    min-width: 150px;
}

.login-form-container {
    width: 50%;
    margin: auto;
}

.d-item {
    color: teal;
}

#sidenav {
    min-width: 200px;
}

#mainViewArea {
    margin-left: 200px;
    padding: 20px;
}

.subCat-header {
    /*color: #616161;*/
    color: #424242;
    text-align: center;
}

.product-header {
    color: #009688;
}


/************FONTS***************
font-family: 'Work Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
**********************************/