<% include ../partials/header.ejs %>

<h1>Welcome to the add a new category page!!!</h1>

<form action='/' method='POST'>
    <label>Add a new Category</label>
    <input type='text' name='category'>
    <button type='submit'>Submit</button>
</form>



<% include ../partials/footer.ejs %>