<% include ../partials/header.ejs %>


<div class='show'>
    <h1 class='subCat-header center-text' ><%= product.name %></h1>
    <img src='https://images.unsplash.com/photo-1453834190665-46ff0a1fbd5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02d4a80ebaeb7a0a16734e34fe1aef58&auto=format&fit=crop&w=1355&q=80'>
    <div class='ui grid'>
        <div class='row show-row'>
            <div class='thirteen wide column'>
                <p><%= product.description %></p>
            </div>
            <div class='three wide column'>
                <label class='ui tag label large teal'>$<%= product.price %></label>
                
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer.ejs %>