<% include ../partials/header.ejs %>


<div class='show'>
    <h1 class='subCat-header center-text' ><%= product.name %></h1>
    <hr>
    <img class='ui centered rounded large image' src='/images/present.jpg'>
    <div class='ui grid'>
        <div class='row show-row'>
            <div class='thirteen wide column'>
                <p><%= product.description %></p>
            </div>
            <div class='three wide column'>
                <label class='ui tag label large teal'>$<%= product.price %></label>
                
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer.ejs %>