<% include ../partials/header.ejs %>


<div class='show'>
    <h1 class='subCat-header center-text' ><%= product.name %></h1>
    <hr>
    
    <div class='ui centered grid'>
        <div class='row show-row'>
            <div class='sixteen wide column'>
                <img class='ui centered rounded big image' src='/images/present.jpg'>
            </div>
        </div>
        <div class='row show-row'>
            <div class='thirteen wide column'>
                <p><%= product.description %></p>
            </div>
            <div class='three wide column'>
                <label class='ui tag label large teal'>$<%= product.price %></label>
                
            </div>
        </div>
        <div class='row show-row'>
            <a class='ui button teal' href='/cart/<%=product.id%>'>Add to Cart</a>
        </div>
    </div>
</div>




<% include ../partials/footer.ejs %>